<h1>Recipes</h1>
<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="<%= recipe.photo %>" alt="<%= recipe.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.title %></h5>
          <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">Full recipe</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
